/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Whitney, Helvetica, Arial, sans-serif;

}

/* #region HEADER */
.header-top {
    height: 40px;
    display: flex;
    align-items: center;
    /* DEBUG */
    /* border: 1px solid black; */
    /* background-color: aqua; */
}

.container {
    width: 50%;
    margin: auto;

    /* DEBUG */
    /* border: 1px solid black; */
}

header {
    background-image: url("../img/img/jumbo.png");
    background-size: cover;
    color: white;
    /* DEBUG */
    height: 400px;
    /* background-color: blueviolet; */
}

.logo img {
    width: 90px;
}

.link {
    display: flex;
    justify-content: center;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
}

header,
li {
    padding: 0 15px;
}

.nav,
.flex-container {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
}

.nav .link {
    flex-grow: 1;
    text-align: center;

}

.header-description {
    width: 50%;
    margin: auto;
    text-align: center;
    /* DEBUG */
    /* background-color: palevioletred; */
    /* height: 200px; */
}

.header-description h1,
.header-description p {
    margin-bottom: 15px;
}

.header-description h1 {
    font-size: 3rem;
}

.header-description p {
    font-size: 1.2rem;
}

.head-bot {
    height: 100%;
    display: flex;
    align-items: center;
}

/* #endregion HEADER */

/* #region MAIN */
/* .section {
    /* DEBUG */
/* height: 300px;
    border: 1px solid black; */

main .container {
    padding: 20px;
}

.section {
    margin-top: 20px;

}

.white {
    background-color: white;
}

.grey {
    background-color: #f6f6f6;
}

.flex {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-section {

    flex-grow: 3;
    min-width: 60%;
    height: 300px;

    /* DEBUG */
    /* background-color: blue; */
}

.img-one {
    background-image: url(../img/img/item1.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.img-two {
    background-image: url(../img/img/item2.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.img-three {
    background-image: url(../img/img/item3.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.descriptipn-img {
    flex-grow: 2;
    align-items: stretch;
    /* DEBUG */
    /* background-color: pink;
    height: 250px; */
}

.descriptipn-img h2 {
    font-size: 3rem;
    padding-bottom: 0.8em;
}

.descriptipn-img p {
    font-size: 1.2rem;
}

.desc-one {
    text-align: left;

}

.descriptipn-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    text-align: center;
    /* DEBUG */
    /* background-color: green; */
    /* height: 250px; */
    /* width: 100%; */
}

/* .image-end {
    height: 400px;
    background-image: url(../img/img/item4-big.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
} */
.image-end img {
    height: 400px;
}

.donwloading-mac {
    margin-bottom: 4em;
    margin-top: 2em;
}

.donwloading-mac h3 {
    background-image: url(../img/img/stars.svg);
    background-position: center top;
    background-repeat: no-repeat;
    font-size: 2rem;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

/* #endregion MAIN */

/* #region FOOTER */
footer {
    background-color: #23272a;
    color: white;
}

.section-footer {
    min-height: 250px;
    flex-grow: 1;
    /* DEBUG */
    /* border: 1px solid white; */
    /* background-color: aquamarine; */
}

.section-footer.main {
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-grow: 2;
    padding: 2em;
    /* DEBUG */
    /* background-color: palevioletred; */
}

.section-footer h3 {
    font-size: 1.5rem;
    padding-bottom: 1em;
}

footer ul {
    list-style-type: none;
    align-items: center;
    font-size: 0.9rem;
    padding-top: 2em;
}

footer li {
    padding-bottom: 1em;
}

.titol-list {
    color: #7289da;
}

.footer-bottom {
    border-top: 1px solid #7289da;
    padding-bottom: 2em;
    padding-top: 1em;

}

.footer-button {
    height: 30px;
    margin-top: 10px;
    justify-content: space-between;
    /* background-color: aquamarine; */
}

/* ICONS and BUTTON*/
button {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.bttn-blu {
    background-color: #7289da;
    color: white;
}

.bttn-black {
    background-color: #23272a;
    color: white;
}

.section-footer img {
    height: 20px;
}

/* .section-footer span::before {
    display: inline-block;
    height: 10px;
    content: url(../img/img/ita.png);
    transform: scale(.5);
} */

.icons {
    padding-top: 1em;
}


/* #endregion FOOTER */