/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Whitney, Helvetica, Arial, sans-serif;

}

/* #region HEADER */
.header-top {
    height: 40px;
    display: flex;
    align-items: center;
    /* DEBUG */
    /* border: 1px solid black; */
    /* background-color: aqua; */
}

.container {
    width: 50%;
    margin: auto;

    /* DEBUG */
    /* border: 1px solid black; */
}

header {
    background-image: url("../img/img/jumbo.png");
    background-size: cover;
    color: white;
    /* DEBUG */
    height: 400px;
    /* background-color: blueviolet; */
}

.logo img {
    width: 90px;
}

.link {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
}

.header,
li {
    padding: 0 15px;
}

.nav,
.flex-container {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
}

.nav .link {
    flex-grow: 1;
    text-align: center;

}

.header-description {
    width: 50%;
    margin: auto;
    text-align: center;
    /* DEBUG */
    /* background-color: palevioletred; */
    /* height: 200px; */
}

.header-description h1,
.header-description p {
    margin-bottom: 15px;
}

.header-description h1 {
    font-size: 3rem;
}

.header-description p {
    font-size: 1.2rem;
}

.head-bot {
    height: 100%;
    display: flex;
    align-items: center;
}

/* #endregion HEADER */

/* #region MAIN */
/* .section {
    /* DEBUG */
/* height: 300px;
    border: 1px solid black; */

main .container {
    padding: 20px;
}

.section {
    margin-top: 20px;

}

.white {
    background-color: white;
}

.grey {
    background-color: lightgray;
}

.flex {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-section {

    flex-grow: 3;
    min-width: 60%;
    height: 300px;

    /* DEBUG */
    /* background-color: blue; */
}

.img-one {
    background-image: url(../img/img/item1.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.img-two {
    background-image: url(../img/img/item2.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.img-three {
    background-image: url(../img/img/item3.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.descriptipn-img {
    flex-grow: 2;
    align-items: stretch;
    /* DEBUG */
    /* background-color: pink;
    height: 250px; */
}

.descriptipn-img h2 {
    font-size: 3rem;
    padding-bottom: 0.8em;
}

.descriptipn-img p {
    font-size: 1.2rem;
}

.desc-one {
    text-align: left;

}

.descriptipn-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    text-align: center;
    /* DEBUG */
    /* background-color: green; */
    /* height: 250px; */
    /* width: 100%; */
}

/* .image-end {
    height: 400px;
    background-image: url(../img/img/item4-big.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
} */
.image-end img {
    height: 400px;
}


/* #endregion MAIN */

/* #region FOOTER */
footer {
    background-color: black;
}

.section-footer {

    /* DEBUG */
    background-color: aquamarine;
    min-height: 250px;
    border: 1px solid white;
    flex-grow: 1;
}

.section-footer.main {

    /* DEBUG */
    background-color: palevioletred;
    flex-grow: 2;
}

.footer-bottom {
    border-top: 1px solid white;
}

.footer-button {
    background-color: aquamarine;
    height: 30px;
    margin-top: 10px;
    justify-content: space-between;
}




/* #endregion FOOTER */